.bouton
{

    text-align:center;
    margin: 5% 0 0 0;

    font-family: "dosis", sans-serif;
    font-weight: 300;
    font-size: 140%;
    background-color: #FFFFFF00;
    border-radius: 30px;
    border: solid #BBAE90;
    padding: 2%;

    color: white;
    height: 50%;
    width: 40%;

}

.titre
{

    margin-top: 2%;
    font-size: 400%;
    text-align: center;
    color: #BBAE90;
}

.fieldInput
{
    margin-top: 2%;
    font-family: "dosis",sans-serif;
    font-size: 200%;

    text-align:center;
}

.in
{

    color:white;
    height: 200%;
    border-style: none;
    border-bottom: solid white 2px;
    background-color: transparent;
}

.inscription
{
    color: #FFFFFF;
    text-decoration: underline;
    font-family: "dosis",sans-serif;
    text-align:center;

}

.formLogin{
    text-align: center;
}

