body{
    background-color:#1E1E1C;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p
{
    color: white;
    padding: 0;
    margin: 0;
}

button{

    font-family: "dosis", sans-serif;
    font-weight: 300;
    font-size: 120%;
    background-color: #FFFFFF00;
    border-radius: 30px;
    border: solid #BBAE90;
    padding: 2%;
    margin: 2.5%;
    color: white;
    height: 50%;
    width: 40%;
}

.options{
    display:flex;
}



.centré{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-family:"dosis",sans-serif;
    font-weight: 300;
    font-size: 180%;

}

.option1{
    display:flex;
}

.option2{
    display:block;
}
