body{
    background-color:#1E1E1C;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

}

.bloc1{
    background-color:#443F3F;
    color: white;
    margin: 1%;
    padding: 1%;
    width: 60%;
    border-radius: 21px;

}
