img{
    border-radius: 50%;
    width:30%;
    margin-left: 2%;
}

.bloc2{
    background-color:#443F3F;
    color: white;
    margin: 1%;
    padding: 1%;
    width: 45%;
    border-radius: 21px;
}

.profildata{
    text-align:left;
    margin-left: 2%;
}

.blocprofil{
    display:flex;
}

.prendrerdv{
    margin-top: 5%;
    margin-left: 10%;
}

.voirlecv{
    margin-top: 5%;
    margin-left: 15%;
    padding:2.7%;
}

.options{
    display:flex;
}